.product-price{

  &--bg {
    background: transparent;
    padding: 0;
  }

  del{
  }

  del .woocommerce-Price-amount{
    font-size: 1rem;
    text-decoration: none;
    position: relative;
    &:after{
      position: absolute;
      top: 50%;
      left: 0;
      width: 90%;
      height: 1px;
      background-color: #F69F3B;
      content: '';
      transform: rotate(20deg);
    }
  }

  del ~  .woocommerce-Price-amount{
    color: #F69F3B;
  }

  &--lg del .woocommerce-Price-amount{
    font-size: 1.4rem;
    font-weight: bold;
  }

  &--lg {
    line-height: 1;
    font-size: 2rem;
  }
}