.vertical-nav{
  width: 270px;
  &__item{
    border: 2px solid $border-color;
    border-top: none;
  }

  &__link{
    transition: all $trs ease;
    &:hover{
      background-color: $light-color;
      color: $main-light-color!important;
    }
  }
}