.basement{	
  &__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $screen-xs-max){
      flex-direction: column;
    }
  }
	&__item{
    width: 33.33333%;
    @media (max-width: $screen-xs-max){
      width: 100%;
      margin-bottom: 10px;
    }
    .soc-groups{
      justify-content: center;
    }
    &:nth-child(3n+3){
      text-align: right;
      @media (max-width: $screen-xs-max){
        text-align: center;
      }
    }
  }
}