.footer {
  font-size: .9rem;
  position: relative;
  padding: 30px 15px;
  background: #83CCF4;
  margin-right: -15px;
  margin-left: -15px;
  box-shadow: 0 -5px 5px #fff;
  &:after, &:before{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    @media (max-width: 1360px){
      display: none;
    }
  }
  &:after{
    bottom: 100%;
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1523 56' style='enable-background:new 0 0 1523 56;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:%2383CCF4;%7D%0A%3C/style%3E%3Cpath class='st0' d='M570.502,0H0C213,33.5,464.779,0,570.502,0z'/%3E%3Cpath class='st0' d='M570.502,0C676.224,0,1119.81,11,1238,17c94.55,4.8,181,21.5,285,0V0H570.502z'/%3E%3Cpath class='st1' d='M1238,17C1119.81,11,676.224,0,570.502,0C464.779,0,213,33.5,0,0v56h1523V17C1419,38.5,1332.55,21.8,1238,17z' /%3E%3C/svg%3E%0A");
  }
  &:before{
    bottom: calc(100% + 10px);
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1523 53.963' style='enable-background:new 0 0 1523 53.963;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23D3EFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M1238,0.963c-118.19-6-561.776,18-667.498,18c-105.723,0-319.002-35-570.502,10v25h1523v-17 C1414.5,20.963,1332.55,5.763,1238,0.963z'/%3E%3C/svg%3E%0A");
  }

  a,
  .footer__widget .menu-item a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__widget-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  & &__widget ul li.menu-item {
    margin-bottom: 10px;
  }


  &__row {
    position: relative;
    z-index: 1;
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max){
      justify-content: space-between;
    }
  }

  &__col {
    @media (max-width: $screen-md-max){
      max-width: 250px;
      width: auto;
      //flex-grow: 1;
    }

    @media (min-width: $screen-lg-min){
      &:first-child {
        position: relative;
        & > * {
          position: relative;
          z-index: 10;
        }
        &:before {
          content: '';
          position: absolute;
          top: -30px;
          bottom: 0;
          right: 0;
          width: 1000px;
          background: var(--footer-aside-bg-color);
          z-index: 1;
        }
      }
    }

    &:nth-child(2) ~ *{
      @media (min-width: $screen-lg-min){
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      position: relative;
      @media (min-width: $screen-sm-min){
        &:before {
          position: absolute;
          content: '';
          width: 0;
          height: calc(100% - 30px);
          border-left: 1px dashed var(--footer-border-color);
          left: 0;
          top: 0;
        }
      }
    }
  }
}