.form {

  &--bg {
    background: transparent;
    @media (min-width: $screen-lg-min){
      padding: 30px 40px;
    }
  }

  &__field{
    .form-control{
      border-radius: 40px;
      &:focus{
        border: 1px solid var(--base-border-color);
      }
    }
    textarea.form-control{
      border-radius: 10px;
    }
    .select2-container--default .select2-selection--single{
      border: 1px solid var(--base-border-color);
      border-radius: 40px;
      height: 34px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
      height: 34px;
      line-height: 34px;
    }
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single{
      border-radius: 5px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{
      margin-top: 0;
    }
  }
}

select.input-sm{
  border-radius: 50px;
  padding: 0 10px;
}