.btn {
  transition: all $trs ease;


  @at-root .product-cut__action-row .btn-default{
    background: #fff;
    padding: 4px 12px;

    &:hover {
      background: var(--btn-default-hover-bg);
    }
  }

  &-default {

  }

  &-default__ico {

    &--wishlist {
      width: 22px;
      height: 21px;
    }

    &--compare {
      width: 22px;
      height: 21px;
    }
  }
}


.btn-load-more {
  padding: 15px 35px;
  color: #000;
  border-radius: 40px;

  &__icon {
    color: #000;
  }

}