.product-labels {

  &__item {

    width: 4.3em;
    height: 2.2em;
    border-radius: 0 10px 0 10px;

    &--hit {
      width: 3rem;
      color: #fff;
      background-color: #F8B23E;
    }
    &--discount {
      color: #fff;
      background-color: #E75637;
    }
    &--new-product{
      width: 5rem;
      color: #fff;
      background-color: #87C622;
    }
  }

  &__text {
    text-transform: none;
  }
}