.product-cut {
  text-align: left;
  
  &__extra-info {
    background: #fff;
    border: none;
    border-top: 0;

    .pc-product-purchase__variation-label-icon{
      font-size: 12px;
    }

    .pc-product-purchase__variation-label-price{
      font-size: 14px;
    }

    .pc-product-purchase__variation-label:not(:last-child){
      margin-bottom: 5px;
    }

    .pc-product-purchase__variation-label{
      order: 1;
    }

    & > .variants-select {
      order: 2;
      display: none;
    }

    & > .pc-variations-table{
      order: 3;
    }

    & > * {
      order: 4;
    }

    .short-description{
      padding: 10px;
      margin: 0 -10px;
      background: #F5FDFF;
      font-size: 0.8rem;
    }
  }

  &:hover &__extra-info {
    @media (min-width: $screen-md-min){
      display: flex;
      flex-direction: column;
      right: -15px;
      left: -15px;
      padding: 10px 10px 0 10px;
      box-shadow: 0px 10px 10px rgba(161, 219, 231, 0.5);
    }
  }

  &:hover .product-loop-title{
    a{
      color: $main-light-color;
    }
  }

  &__action-row {
    order: 2;
    justify-content: flex-start;

  }

  @media (min-width: $screen-md-min){
    &:hover:before {
      background: #fff;
      border: none;
      border-bottom: 0;
      box-shadow: 0px 0px 10px rgba(161, 219, 231, 0.5);
      border-radius: 10px;
      top: -25px;
      right: -15px;
      bottom: -25px;
      left: -15px;
    }
  }

  &__title a {
    text-decoration: underline;
  }

  .star-rating{
    display: flex;
    justify-content: center;
  }

  .product-loop-title{
    text-align: center;
    a{
      text-decoration: none;
    }
  }

  &__after-title{
    text-align: center;
  }

  &__action-row{
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    div[data-add-to-compare]{
      display: none;
    }
    .pc-product-action{
      margin-right: 0;
      .btn{
        padding: 8px 13px;
        border: 1px solid #D2E2E7;
        border-radius: 40px;
        .svg-icon{
          fill: none
        }
      }
    }
  }
}

// .slick-list{
//   overflow: visible!important;
//   // overflow-x: hidden!important;
// }

// .slick-slider .product-cut:hover:before{
//   display: block!important;
// }

// .slick-slider .product-cut:hover .product-cut__extra-info{
//   display: block!important;
// }