.filter{
  border: 2px solid #E1F6FC;
  border-radius: 5px;

  &__header{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $main-light-color;
    }
  }

  &__title {
    display: inline-block;
    position: relative;
    z-index: 2;
    background: #fff;
    padding-right: 10px;
    color: var(--panels-heading-color);
    text-transform: none;
    font-size: 1.2em;
    font-weight: bold;
  }
  

  &__item {
    padding: 20px;
    background: transparent;
  }

  &__inner {
    margin-top: 1em;
  }

  &__checkgroup-title {
    color: var(--base-main-link-color);
  }

  //--base-main-link-hover-color
  &__checkgroup-link:hover &__checkgroup-title{
    color: var(--base-main-link-hover-color);
  }

  &__properties-item:not(:last-child) {
    margin-bottom: 10px!important;
  }

  &__checkgroup-control {
    top: -3px;
  }

  &__checkgroup-link:hover &__checkgroup-control:not([disabled]) + &__checkgroup-check {
    border-color: var(--theme-main-color);
  }

  &__checkgroup-control[type='checkbox']:checked + &__checkgroup-check {
    background: var(--theme-main-color);
    border-color: var(--theme-main-color);
  }

  &__checkgroup-control[type='radio']:checked + &__checkgroup-check {
    border-color: var(--theme-main-color);

    &:before {
      background: var(--theme-main-color);
    }
  }

  &__checkgroup-control:checked + &__label-button {
    background: var(--theme-main-color);
    border-color: var(--theme-main-color);
  }

  &__slider-control{
    border-radius: 50px;
    box-shadow: none;
  }
}