.pc-product-purchase {

  &__variations{
    background: $light-color;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
  }

  &__variation-label{
    // order: 1;
  }

  &__variation-label{
    max-width: 320px;
    // order: 2;
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }

  &__variation-label-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    input{
      visibility: hidden;
    }
  }

  &__variation-label-price{
    font-size: 18px;
    line-height: 1.2;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
  }

  &__variation-label-icon{
    font-size: 14px;
    line-height: 1.2;
    color: #666;
    padding-right: 10px;
    padding-left: 5px;
    position: relative;
    cursor: pointer;
    .icon-check{
      position: absolute;
      top: 5px;
      left: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #D2E2E7;
      background: #fff;
      transition: all 0.3s ease;
      &:after{
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        border-radius: 50%;
        background: #F69F3B;
        opacity: 0;
        transition: all 0.3s ease;
      }
    }
    input:checked ~ .icon-check{
      border: 1px solid #F69F3B;
    }
    input:checked ~ .icon-check:after{
      opacity: 1;
    }
  }

  &__variation-label-divider{
    border-bottom: 1px dashed #ccc;
    
    flex: 1;
  }

  &__add-to-cart {
    background: transparent;
    margin-bottom: -14px;
    margin-right: -14px;

    & > * {
      margin-bottom: 14px;
      margin-right: 14px;
    }

    &,
    & > * {
      padding: 0;
    }

    .pc-add-to-cart .button{
      padding: 10px 25px;
      border-radius: 40px;
    }

    .pc-product-action{
      margin: 0 0 10px 0;
      .btn-default{
        border-radius: 40px;
        padding: 8px 17px;
        .svg-icon{
          fill: none;
        }

      }
      div{
        &:first-child{
          display: none;
        }
      }
    }
  }

  &__body {
    padding-top: 20px;
    border-top: 1px dotted #c5c5c5;

  }

  &__header {
    margin-bottom: 18px;
  }

  &__add-to-cart-item {

    
    .btn-default {
      background: #fff;
      padding: 10px 16px;
      &:hover {
        background: var(--btn-default-hover-bg);
      }
    }
  }

  .product-price{
    color: #333;
    font-weight: bold;
  }

  .variants-select select{
    font-size: 1.2rem;
    font-weight: bold;
    height: 46px;
    padding: 0 20px;
    &:focus{
      border: 1px solid var(--base-border-color)
    }
  }
}