.product-search {

  &__form-control{
    border: none;
    border-radius: 24px 0 0 24px;
    box-shadow: none;
  }

  &__submit {
    border-radius: 0 24px 24px 0;
    background: var(--header-search-btn-bg);
    border-color: var(--header-search-btn-bg);
    transition: all $trs ease;

    &:focus,
    &:active,
    &:hover {
      background-color: #FF8800;
      border-color: #FF8800;
    }
  }

  &__submit-icon {
    color: #fff;
    width: 17px;
    height: 15px;
    &:hover {

    }
  }
}