.pc-section-primary {
  border: none;
  position: relative;
  z-index: 3;

  &--review{
    z-index: 1;
  }


  &--kit {

  }

  &--kit &__title {
    padding: 15px 0;
    margin: 0 0 18px 0;
    border-bottom: 2px solid var(--theme-main-color);
    display: block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
  }

  &--kit &__inner {
    padding: 0;
  }



  &__title {
    position: static;
    margin: 0 ;
    padding: 30px 0;
    border-bottom: none;
    display: block;
    width: 100%;
    vertical-align: baseline;
    font-size: 1.5rem;
    line-height: 1;
    color: #000;
    font-weight: bold;
    position: relative;
    span{
      padding: 0 15px 0 0 ;
      position: relative;
      z-index: 2;
      background-color: #fff;
    }

    &:after{
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      width: calc(100% - 100px);
      height: 1px;
      background-color: $main-light-color;
    }
  }

  &__inner {
    padding: 0;
  }

  &__arrow {
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #D2E2E7;
    border-radius: 50%;
    font-size: 2rem;
    color: #D2E2E7;
    transition: all $trs ease;

    &:hover{
      border-color: $main-color;
      color: $main-light-color;
    }
    svg {
      @include absolute-center-translate;
      display: block;
      width: 17px;
      height: 14px;
      fill: none;
    }

    &:before {
      @include absolute-center-translate;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      display: none;
    }

    &--left {
      left: auto;
      right: 48px;
      &:before {
        content: "\f104";
      }
    }
    &--right {
      right: 0;
      &:before {
        content: "\f061";
      }
    }

    &.slick-disabled {
      visibility: visible;
      cursor: pointer;
  }
  }
}