.frame {

  &--checkout-order &__header {
    background: transparent;
    padding: 0 0 15px 0;
    margin: 0;
  }

  &--checkout-order &__title h3,
  &--checkout-order &__title {
    color: #000;
    font-size: 1.6rem;
    font-weight: normal;
  }

  &--checkout-order &__inner {
    box-shadow: 0px 0px 10px rgba(161, 219, 231, 0.5);
    border-radius: 10px;
    background-color: #fff;
    border: none;
    padding: 20px;
  }
}

