.pc-variations-table{
  &__column{
    &--label{
      font-size: 0.8rem;
    }
  
  }

}

.testimonial_rotator_wrap{
  &.with-prevnext{
    padding: 60px 20px;
  }
  margin: 0 10px 20px 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(161, 219, 231, 0.5);
  border-radius: 10px;
  position: static;

}

.testimonial_rotator_prev, .testimonial_rotator_next{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 10px;
  border: 2px solid #D2E2E7;
  text-align: center;
  line-height: 40px;
  transition: all $trs ease;
  i{
    display: none;
  }
  &:hover{
    border-color: #0E6BA0;
    
  }
}
.testimonial_rotator_prev{
  left: auto;
  right: 48px;
  &:after{
    position: absolute;
    top: 0;
    left: 10px;
    content: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 8H1.5' stroke='%23D2E2E7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 1L1.5 8L9 15.5' stroke='%23D2E2E7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 17px;
    height: 14px;
    transition: all $trs ease;
  }

  &:hover{
    &:after{
      content: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 8H1.5' stroke='%2338A0DB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 1L1.5 8L9 15.5' stroke='%2338A0DB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

.testimonial_rotator_next{
  &:after{
    position: absolute;
    top: 0;
    left: 10px;
    content: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 8H18.5' stroke='%23D2E2E7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 1L18.5 8L11 15.5' stroke='%23D2E2E7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 17px;
    height: 14px;
    transition: all $trs ease;
  }

  &:hover{
    &:after{
      content: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 8H18.5' stroke='%2338A0DB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 1L18.5 8L11 15.5' stroke='%2338A0DB' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

.testimonial_rotator.template-onepig .testimonial_rotator_quote{
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.testimonial_rotator.template-onepig .testimonial_rotator_author_info{
  color: #666;
  font-size: 16px;
}