.product-photo {

  &__item {
    padding-bottom: 75%;
  }

  @at-root .widget-sidebar &__img {
    padding: 3px;
  }

  @at-root .widget-sidebar &__item {
    padding-bottom: 100%;
  }

  &__thumb-item{
    transition: all $trs ease;
    border: 1px solid #EAEAEA;
  }

  &__thumb-item[data-product-photo-thumb-active]{
    border: 1px solid #38A0DB;
  }

}