.pagination {

  &__item {
    
    @media (min-width: $screen-sm-min){
      height: 2.6rem;
      width: 2.6rem;
      line-height: 2.6rem;
    }
    .page-numbers {
      border-radius: 50%;
      border: 1px solid #D2E2E7;
      color: #000;
      transition: all $trs ease;
    }
    
    a.page-numbers{
      color: #000;
    }
    a.page-numbers:hover {
      color: #fff;
      border: 1px solid #F69F3B;
      background-color: #F69F3B;
    }
  }
  .page-numbers.current {
    background: #fff;
    border: 1px solid #F69F3B;
    background-color: #F69F3B;
  }
  
  .page-numbers {
    &:before {
      color: #000;
      font: normal normal normal 14px FontAwesome;
      line-height: 26px;
      font-size: 1.2rem;
      transition: all $trs ease;
      @include absolute-center-translate;
    }
    &:hover{
      &:before {
        color: #fff;
      }
    }
  }

  .next.page-numbers,
  .prev.page-numbers {
    font-size: 0;
  }

  .prev.page-numbers:before {
    content: "\f177";
  }
  .next.page-numbers:before {
    content: "\f178";
  }
}


