.accordion-tabs {

  &__link{
    color: #333;
    border: 1px solid #E1F6FC;
    background-color:  #F5FDFF;
    &.js-active{
      &:before{
        background-color: $main-light-color;
      }
    }
  }
  &__link:hover {
    color: #000;
  } 

  &__content{
    border-top: 1px solid #E1F6FC;
  }
}