.pc-product-action {

  @at-root .product-cut &--stock-html {
    order: 1!important;
    justify-content: flex-start;
  }

  &__ico {
    color: var(--theme-main-color);

    &--compare {
      width: 20px;
    }
  }
}