.quantity {

  &--single-product &__input {
    border: 1px solid #D2E2E7;
    border-radius: 40px;
  }

  &__btn {
    display: none;
  }

  &__input {
    border-radius: 40px;
    &:focus{
      border: 1px solid var(--base-border-color)
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -moz-appearance: none;
      -webkit-appearance: none;

    }

    &::-webkit-inner-spin-button {
      display: inline;
    }
  }
}