$seo-text-title-color:          #000;

.seo-text{
	padding: 35px 20px;
	background: $light-color;
	border-radius: 10px;

	&__title{
		font-size: 28px;
		margin-bottom: 20px;
		color: #333;
		font-weight: bold;
	}

	&__desc{
		color: #687379;
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}
	
	h1 {
		color: #000;
	}

}