.widget-sidebar {
  position: relative;

  &__header {
    background: transparent;
    padding: 0;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
  }


  // Readmore link
  .pc-section-secondary__viewall {
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0;
    &:before {
      content: none;
    }
    a {
      position: relative;
      padding-right: 10px;
      display: inline-block;
      font-weight: 400;
      font-size: 0.9rem;
      text-decoration: underline;
      &:after {
        content: '>';
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  @at-root .widget_products &__inner,
  &--related-products &__inner {
    padding: 25px 20px;
    border: 2px solid #E1F6FC;
    border-radius: 5px;
  }

  &__item{
    &:not(:last-child){
      border-bottom: 1px dashed #E7E7E7;
      padding-bottom: 15px;
    }
    .product-thumb{
      flex-direction: column;
      align-items: center;
      &__left{
        border: none;
        width: 150px;
        margin-right: 0;
        margin-bottom: 10px;
      }
      &__right{
        text-align: center;
        .product-price .woocommerce-Price-amount{
          font-weight: bold;
        }
      }
      &__row{
        text-align: center;
      }
      &__title{
        text-decoration: none;
      }
    }
  }
}